__pycache__
.pytest_cache
.venv
venv
env
ENV
node_modules
.DS_Store
.git
.github
.vscode
.gitignore
#Dockerfile
docker-compose.yml
*.pyc
*.pyo
*.pyd
*.sqlite3
logs
.env
.env.example
data/
docs/
backtest/
*.db
*.log
scripts/
tests/
*.xlsx
util/practice_crawling.py
analyze_optimal_delay.py
analyze_sell_condition.py
check_data_units.py
convert_api_doc_to_md.py
test*.py
readme.md
requirements-dev.txt